<% include ../partials/header %>

<div class="form-container">
	
<h4 class="inline-block">Register New User</h4>
<a class="float-right" href="/login">Already a User?</a>

	<form class="user-info-form ui form" action="/register" method="POST">
		<div class="field">
			<label>Username</label>
			<input type="text" name="username" placeholder="Username">
		</div>

		<div class="field">
			<label>Email</label>
			<input type="text" name="email" placeholder="Email">		
		</div>

		<div class="field">
			<label>Password</label>
			<input type="password" name="password" placeholder="Password">		
		</div>

		<div class="field">
			<label>Avatar</label>
			<input type="text" name="avatar" placeholder="Avatar Image Url">
		</div>

		<div class="field">
			<label>Personal Bio</label>
			<textarea name="bio" placeholder="Personal bio here.."></textarea>
		</div>
		<input class="ui submit button" type="submit">
		<div class="ui error message"></div>
	</form>

</div>

<% include ../partials/footer %>