<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Bookface</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>

	<!-- TOP MENU -->
	<div class="ui inverted stackable top fixed menu">
	  <div class="item">
	    <i class="far fa-2x fa-bookmark"></i>
	    <a class="item">Bookface</a>
	  </div>
	  <div class="right menu">
	  	<% if (false) { %> <!-- TODO: kzd -> check if user is logged in -->
	  		<a class="item">Logout</a>
	  		<div class="item">
	  			<a href="">
	  				<i class="far fa-2x fa-user"></i>
	  			</a>
	  		</div>
	  	<% } else { %>
	  		<a href="/user/signup" class="item">Sign Up</a>
	    	<a class="item">Login</a>
	  	<% } %>
	    
	  </div>
	</div>

	<!-- CONTENT -->
	<div class="ui container">
		
	


