<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Bookface</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js"></script>
	<script type="text/javascript" src="/scripts/scripts.js"></script>
</head>
<body>

	<!-- TOP MENU -->
	<div class="ui inverted stackable top fixed menu">
	  <a href="/" class="item">
	    <i class="far fa-2x fa-bookmark"></i>
	    <span>Bookface</span>
	  </a>
	  <div class="right menu">
	  	<% if (currentUser) { %>
	  		<a  href="/logout" class="item">Logout</a>
	      	<a class="item"  href="/user/<%= currentUser._id %>/profile">
	        	<i class="far fa-2x fa-user"></i>
	        	<%= currentUser.username %>
	      	</a>
	  	<% } else { %>
	  		<a href="/register" class="item">Sign Up</a>
	      	<a href="/login" class="item">Login</a>
	  	<% } %>
	    
	  </div>
	</div>

	<!-- CONTENT -->
	<div class="ui container">
		
	


