.container {
	margin: 100px 0;
	height: 100%;
}

svg {
	margin-right: 15px;
}

#profile-avatar {
	padding: 0;
}

.content {
	padding: 15px;
}

.ui.dividing.header {
	margin-bottom: 0px;
}

.float-right {
	float: right;
}

#bio {
	margin: 15px 0;
}

#new-book-btn {
	width: 100%;
}