.container {
	margin-top: 100px;
	margin-bottom: 50px;
}

svg {
	margin-right: 15px;
}

#profile-avatar {
	padding: 0;
}

.content {
	padding: 15px;
}

.ui.dividing.header {
	margin-bottom: 0px;
}

.float-right {
	float: right;
}

#bio {
	margin: 15px 0;
}

#new-book-btn {
	width: 100%;
}

.description {
	padding-top: 15px;
}

#cover_thumbnail {
	padding-left: 15px;
}

#book-profile-feed {
	margin-top: 40px;
}

/*************
Media Queries
*************/

@media all and (max-width: 767px) {
	.container {
		margin-top: 160px;
	}

	#cover_thumbnail {
		margin-top: 15px;
	}
}