<% include ../partials/header %>

<div class="ui divided very relaxed items">
<% books.forEach((book) => { %>
	<% include ../partials/book_preview %>
<% }); %>
</div>

<% include ../partials/footer %>