<% include ../partials/header %>

<div class="form-container">
	
	<h4>New Book Post</h4>

	<form class="book-info-form ui equal width form" action="/books" method="POST">
		<div class="fields">
			<div class="field">
				<label>Title</label>
				<input type="text"id="title" name="book[title]" placeholder="Title">
			</div>

			<div class="field">
				<label>Rating</label>
				<div class="ui huge rating form" data-max-rating="5"></div>
				<input type="hidden" id="ratingValue" name="book[rating]" value="0">
			</div>
		</div>
		
		<div class="fields">
			<div class="field">
				<label>Author</label>
				<input type="text" id="author" name="book[author]" placeholder="Author">
			</div>

			<div class="field">
				<label>Cover Art</label>
				<input type="text" id="image" name="book[image]" placeholder="Cover Art Url">
			</div>
		</div>
		
		<div class="field">
			<label>Description</label>
			<textarea id="description" name="book[description]" placeholder="Synopsis..."></textarea>
		</div>

		<input class="ui basic button" type="submit" value="Post Book">
		<div class="ui error message"></div>
	</form>

</div>

<% include ../partials/footer %>